* {
    box-sizing: border-box;
}

body {
    background-color: #fffaf1;
    font-family: Arial, serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1024px;
    margin: 20px auto;
}

/* ===================================
 NAV
==================================== */

nav {
    position: sticky;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* ===================================
 # CAROUSEL
==================================== */

#carousel img {
    width: 100vw;
    display: none;
}

#carousel img.active {
    display: block;
}

/* ===================================
 # Products
==================================== */

.products-wrapper {
    display: flex;
}

.filter-wrapper {
    padding: 10px;
}

.filter-wrapper .form-group {
    padding: 10px;
}

.filter-wrapper .form-group label {
    font-weight: bold;
}

#products {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
}

#products .card {
    background-color: #333333;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px;
    width: 30%;
}

#products .card img {
    width: 100%;
}

#products .card .card-container {
    padding: 0 10px;
}

#products .card .card-container p{
    display: flex;
    justify-content: space-between;
}

#products .card .card-container a{
    color: #fffaf1;
}

#products .card .card-container a:hover{
    color: palegoldenrod;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

#products .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    color: #fffaf1;
}

#product .card-container {
    padding: 2px 16px;
}

@media (max-width: 1024px) {
    #products .card {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .products-wrapper {
        flex-direction: column;
    }

    .filter-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

}

@media (max-width: 500px) {
    #products .card {
        width: 100%;
    }
}
/* ===================================
 FOOTER
==================================== */

footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: #fff;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        justify-content: center;
    }
    footer p {
        margin: .5rem;
    }
}

