* {
    box-sizing: border-box;
}

body {
    font-family: Arial, serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}

/* ===================================
 NAV
==================================== */

nav {
    position: sticky;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* ===================================
 # CAROUSEL
==================================== */

#carousel img {
    display: none;
}

#carousel img.active {
    display: block;
}


/* ===================================
 FOOTER
==================================== */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: #fff;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        justify-content: center;
    }
    footer p {
        margin: .5rem;
    }
}

